<div class="main_header">
  <div class="main_header_logo">
    hogehuga
  </div>
  <div class="main_header_btn">
    <a class="chat_end" href="">チャットを終了する</a>
  </div>
</div>
<div class="main_box">
  <div class="main_box_contents">
    <div class="main_box_content">
      <div class="main_box_name">Tom</div>
      <div class="main_box_date">2020/3/31(Wed) 12:34:56</div>
    </div>
    <div class="main_box_messages">おはよう</div>
  </div>
</div>
<div class="main_footer">
  <form class="main_footer_form">
    <div class="footer_form_contents">
      <input class="main_footer_text" type="text" placeholder="type a message">
      <label class="main_footer_image">
        <span class="image_file">画像<span>
        <input class="image_file_commit" type="file">
      </label>
    </div>
    <input class="main_footer_commit" type="submit" value="送信">
  </form>

</div>